In [2]:
import csv

with open('data/kaduwela_8_test/kaduwela_run1.bdy', 'r') as infile, open('data/kaduwela_8_test/kaduwela1.csv', 'w', newline='') as outfile:
    writer = csv.writer(outfile)
    for line in infile:
        split_line = line.split()
        if len(split_line) == 2:
            writer.writerow((split_line[0],0.9))

In [2]:
with open('data\kaduwela_8\kaduwela_run1.bdy', 'r') as file:
    lines = file.readlines()

with open('data\kaduwela_8\kaduwela_run1.bdy', 'w') as file:
    for i, line in enumerate(lines):
        if i >= 280:
            file.write('-' + line)
        else:
            file.write(line)

In [ ]:
with open('filename.txt', 'r') as file:
    lines = file.readlines()

with open('filename.txt', 'w') as file:
    for i, line in enumerate(lines):
        if i >= 255:
            file.write('-' + line)
        else:
            file.write(line)

In [22]:
import pandas as pd
import os

In [23]:
input_path = "data\kaduwela_8"
output_path = "data\kaduwela_8\stream_data"

for filename in os.listdir(input_path):
    if filename.endswith('.bdy'):
        with open(os.path.join(input_path, filename), 'r') as file:
            lines = file.readlines()
        upsreamline, downstreamline = 0, 0
        for i, line in enumerate(lines):
            if line.__contains__('upstream'):
                upstreamline = i
            if line.__contains__('downstream'):
                downstreamline = i

        numofupstream = int(lines[upstreamline+1].split()[0])
        numofdownstream = int(lines[downstreamline+1].split()[0])
        streamvalues = {
            'upstream': [],
            'downstream': []
        }
        for i, line in enumerate(lines):
            if i > upstreamline+1 and i <= upstreamline+1+numofupstream:
                streamvalues['upstream'].append(float(line.split()[0]))
            if i > downstreamline+1 and i <= downstreamline+1+numofdownstream:
                streamvalues['downstream'].append(float(line.split()[0]))
        df = pd.DataFrame(streamvalues)
        df.to_csv(os.path.join(output_path, filename.replace('.bdy', '.csv')), index=False)

     upstream  downstream
0    1.258825    0.492783
1    1.250924    0.492783
2    1.245658    0.494397
3    1.243025    0.496013
4    1.240395    0.497633
..        ...         ...
269  3.580955    0.865047
270  3.551138    0.860003
271  3.569025    0.860003
272  3.545180    0.851623
273  3.530285    0.854970

[274 rows x 2 columns]